<!-- 
    File name: header.ejs
    Created By: Jashan Preet Singh
    Student ID: 301170664
    Created On: 13 February, 2021
-->

<!-- Common header to be included for all pages -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />

    <% if(title == "Services") { %>
      <link rel='stylesheet' href='/stylesheets/services.css' />
    <%}  %>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700" rel="stylesheet">
    
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../assets/images/favicon_io/site.webmanifest">

  </head>
<body>