<!-- 
    File name: navbar.ejs
    Created By: Jashan Preet Singh
    Student ID: 301170664
    Created On: 13 February, 2021
-->

<!-- Navbar section -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <% if (title == "Home") { %>
                <li class="nav-item active">
              <% } else { %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/">Home</a>
            </li>
            <% if (title == "About Me") { %>
                <li class="nav-item active">
              <% } else { %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/about">About Me</a>
            </li>
            <% if (title == "Projects") { %>
                <li class="nav-item active">
              <% } else { %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/projects">Projects</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <a class="mx-auto" href="/">
            <img src="/assets/images/jashanlogo.png" class="rounded-circle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <% if (title == "Services") { %>
                <li class="nav-item active">
              <% } else { %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/services">Services</a>
            </li>
            <% if (title == "Contact") { %>
                <li class="nav-item active">
              <% } else { %>
                <li class="nav-item">
            <% } %>
                <a class="nav-link" href="/contact">Contact Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://medium.com/@singhjp006" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
        </ul>
    </div>
    </nav>