    <!-- Scripts Section -->
    <script src="/scripts/app.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/jquery/dist/js/jquery.min.js"></script>
    <!-- <script src="/javascripts/custom.js"></script> -->
  </body>
</html>
