<!-- 
    File name: contact-me.ejs
    Created By: Jashan Preet Singh
    Student ID: 301170664
    Created On: 13 February, 2021
-->

<!-- ejs file for contact me page body content -->
<div class="container mt-5">
    <section class="dark-grey-text mb-5">  
      <style>
        .map-container-section {
          overflow:hidden;
          padding-bottom:56.25%;
          position:relative;
          height:0;
        }
        .map-container-section iframe {
          left:0;
          top:0;
          height:100%;
          width:100%;
          position:absolute;
        }
        .icon-color {
          color: #4e9df1ee;
        }
      </style>
            <div class="row">
                <div class="col-xl-6 mx-auto text-center">
                   <div class="section-title mb-100">
                      <p>&nbsp</p>
                      <h5>tring... tring...</h5>
                   </div>
                </div>
             </div>

      <h2 class="font-weight-bold text-center mb-4" style="margin-top: 0px;">Let's Connect</h2>

      <p class="text-center w-responsive mx-auto pb-5">Do you want to contact me? Do you want to know more about me? Do you want to work with me on cool projects? Feel free to contact me right away!</p>


      <div class="row">
        <div class="col-lg-5 mb-lg-0 pb-lg-3 mb-4">
          <div class="card">
            <div class="card-body">
  
              <div class="form-header blue accent-1 shadow-lg p-3 mb-5 rounded" style="padding: 10px 0; text-align: center; background-color: #4e9df1ee;">
                <h3 class="mt-2" style="color: white;"><i class="fas fa-envelope"></i> Write to me:</h3>
              </div>
              
              <div class="md-form">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-user prefix grey-text fa-2x icon-color"></i>
                  </div>
                  <div class="col-11">
                    <input type="text" id="form-name" class="form-control" placeholder="Your name">
                  </div>
                </div>
              </div>
              <div class="row">&nbsp</div>
              <div class="md-form">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-envelope prefix grey-text fa-2x icon-color"></i>
                  </div>
                  <div class="col-11">
                    <input type="email" id="form-email" class="form-control" placeholder="Your email">
                  </div>
                </div>
              </div>
              <div class="row">&nbsp</div>
              <div class="md-form">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-tag prefix grey-text fa-2x icon-color"></i>
                  </div>
                  <div class="col-11">
                    <input type="text" id="form-Subject" class="form-control" placeholder="Subject" required>
                  </div>
                </div>
              </div>
              <div class="row">&nbsp</div>
              <div class="md-form">
                <div class="row">
                  <div class="col-1">
                    <i class="fas fa-pencil-alt prefix grey-text fa-2x icon-color"></i>
                  </div>
                  <div class="col-11">
                    <textarea id="form-text" class="form-control md-textarea" rows="3" placeholder="Write a cool message"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">&nbsp</div>
              <div class="text-center">
                <button class="btn btn-primary btn-block btn-light-blue btn-lg icon-color" style="color: white;" onclick="location.href = '/'"><b>Submit</b></button>
              </div>
            </div>
          </div>

        </div>

        
        <div class="col-lg-7">

          <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55335.11454011343!2d73.84403249132868!3d29.909098424370338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3917b513d6964015%3A0xb54a4cb83b8f319b!2sSri%20Ganganagar%2C%20Rajasthan%20335001!5e0!3m2!1sen!2sin!4v1613210668515!5m2!1sen!2sin" frameborder="0"
              style="border:0" allowfullscreen></iframe>
          </div>

          
          <div class="row text-center">
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-map-marker-alt"></i>
              </a>
              <p>Sri Ganganagar, 335001</p>
              <p class="mb-md-0">Rajasthan, India</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-phone"></i>
              </a>
              <a href="tel:+91-9782078700">
                <p>+91-9782078700</p>
              </a> 
              <p class="mb-md-0">Mon - Fri, 8:00-20:00</p>
            </div>
            <div class="col-md-4">
              <a class="btn-floating blue accent-1">
                <i class="fas fa-envelope"></i>
              </a>
              <a href="mailto:jashanpreet@khalsa.com">
                <p>jashanpreet@khalsa.com</p>
              </a>
              <a href="mailto:jashanpreet.singh.1997@ieee.org">
                <p>jashanpreet.singh.1997@ieee.org</p>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section>
    
    <h2 class="font-weight-bold text-center mb-4">You can also book a meeting with me</h2>

    <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/singhjp006/one-on-one-meeting?hide_gdpr_banner=1" style="min-width:320px;height:700px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->


  </div>