<style>
    .icon-color {
        color: black;
        margin-left: 29px;
    }
</style>

<main>
    <div class="row">
        <div class="col-12">
            <h1>&nbsp&nbsp&nbsp&nbsp</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="row" id="main-body-content">
                <div class="col-12"><h3> Welcome! I am Jashan Preet </h3></div>
            </div>
            <div class="row">
                <div class="col-12"><h4><small class="text-muted">AI FT @ Centennial <br> Ex. SDE @ Chai Point <br> Mentor MIT Covid Challenge <br> New Ventures Leadership at MIT <br> MIT-Trained in Innovation & Entrepreneurship</small></h4></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="lead text-justify">Clarity of vision is what makes me dare to challenge and keep pushing myself to explore, perform and succeed in goals. I have a dream, a big dream to make a positive impact on the society, and experience long-term transformations in the present system.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="/about">
                        <button class="btn btn-block btn-default waves-effect btn-dark">
                            <i class="fas fa-address-card"></i> &nbsp Know More About Me
                        </button>
                    </a> 
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-3">
                    <a href="https://www.facebook.com/singhjp006" target="_blank">
                        <i class="fab fa-facebook-square fa-3x icon-color"></i>
                    </a>
                </div>
                <div class="col-3">
                    <a href="https://www.linkedin.com/in/singhjp006/" target="_blank">
                        <i class="fab fa-linkedin fa-3x icon-color"></i>
                    </a>
                </div>
                <div class="col-3">
                    <a href="https://github.com/singhjp006" target="_blank">
                        <i class="fab fa-github-square fa-3x icon-color"></i>
                    </a>
                </div>
                <div class="col-3">
                    <a href="https://www.instagram.com/singhjp006/" target="_blank">
                        <i class="fab fa-instagram-square fa-3x icon-color"></i>
                    </a>
                </div>
            </div>
            
        </div>
        <div class="col-4">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <img src="../../assets/images/jashan-photo.png" alt="" class="">
            </div>
            <div class="col-2"></div>
        </div>
            
            
        </div>
        <div class="col-2"></div>

    </div>
</main>