<!-- 
    File name: projects.ejs
    Created By: Jashan Preet Singh
    Created On: 13 February, 2021
-->

<!-- ejs file for projects page body content -->
<div class="row">
    <div class="col-12">
        <h1>&nbsp&nbsp&nbsp&nbsp</h1>
    </div>
</div>
<div class="row" style="margin-left: 20px; margin-top: 50px;">
    <div class="col-2"></div>
    <div class="col-2">
        <h1>My Projects</h1>
    </div>
    <div class="col-8" style="padding-left: 0px;"><hr style="margin-top: 25px; border-top: 10px solid black;"></div>
</div>
<div class="projects-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="../../assets/images/startup-mitra.jpg" class="img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Startup Mitra</h4>
                        <h4 class="subheading">Platform for discovery of information of loans to Start-ups</h4>
        <p class="text-muted">A Mobile Solution got <b>2nd prize at SIH India</b> it is used to Create a platform for aggregation (information and application) of loans to Start-ups under DIPP, Ministry Of Commerce and Industry. <b>Project presentation:</b> <a href="https://goo.gl/6kkZUk"> https://goo.gl/6kkZUk </a></p>
           <ul>
               <li>One stop shop for loans to startups. It Provided a single platform for information related to recent schemes depending on their industry/Department- Hence an easy access point in the form of an app.</li>
               <li>Easy and quick search process for schemes through scheme classifiers and recommender system.</li>
               <li>Universal unique Identity to Startups by registering the startup through the application.</li>
               <li>Latest schemes and loan offerings to users through the notification system.</li>
               <li>Multilingual</li>
               <li>Offline first</li>
           </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>CoronaGears</h4>
                        <h4 class="subheading">Get important resources to survive COVID era.</h4>
                        <p class="text-muted">COVID-19 has completely changed or disrupted how we work, engage with others, socialise, exercise and perform other day to day tasks. Lots of people & companies are working tirelessly creating tools/helping others to help all of us get through this crisis. We at CoronaGEARS are working towards brining all these resources at one place. This website was developed as a personal project which gained good traction and I worked on the backend part of this website. <br />
                        <b>Project Link:</b> <a href="https://coronagears.co/">https://coronagears.co/</a>
                        </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="../../assets/images/coronagears.PNG" class="img-fluid" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
             <img src="../../assets/images/digifest-vikalp.png" class="img-fluid" alt=""/>
        </div>
        <div class="col-md-6">
            <h4>Digifest Vikalp</h4>
                        <h4 class="subheading">An App meant to help poor creators</h4>
                        <p class="text-muted">An Android App which brings heritage, culture, and tourism together while paving a path for the upliftment of women, poor artisans, and craftsmen. This app was developed in a Hackathon organised by the Government of Rajasthan and I worked on the backend part of the application.
                           <br /> <b>Video of the working app:</b> <a href="https://youtu.be/Sold-xy4m8s">https://youtu.be/Sold-xy4m8s</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Exsplitz - Car Pooling Web App</h4>
                        <h4 class="subheading">Clone of web client of BlaBlaCar</h4>
                        <p class="text-muted">Clone of web client of BlaBlaCar an online marketplace for carpooling connecting drivers and passengers willing to travel together between cities and share the cost of the journey. I developed this project as the part of my minor project during my graduation.
                            <br> <b>Project Presentation: </b> <a href="https://goo.gl/WeY2Jr">https://goo.gl/WeY2Jr</a>
                        </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="../../assets/images/fsplitz.png" class="img-fluid" alt="" style="width: 100%; height:100%"/>
        </div>
    </div>
</div>